@import '../../app/styles/mixins';
@import '../../app/styles/classes';

.container {
  height: 100vh;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.sidebar {
  overflow-y: auto;
  overflow-x: hidden;

  @media only screen and (min-width: $bp-medium) {
    position: fixed;
    top: 6rem;
    left: 1rem;
    height: calc(100vh - 7rem);
    width: 22rem;
  }
}

.main-view {
  width: 100%;
  min-height: 100vh;
  margin: 6rem 1rem 1rem 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @media only screen and (max-width: $bp-medium) {
    padding: 4rem 2rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    padding: 4rem 0 0 0;
  }
}

.main-view-menu-active {
  margin-left: 24rem;

  @media only screen and (max-width: $bp-medium) {
    margin: 2rem;
  }
}

.main-view-menu-inactive {
  margin-left: 1rem;
}
