
.switcher {

  > span {
    color: var(--white);
    font-size: 7px;
    line-height: 20px;
  }

  &__icon {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 2px;
    fill: var(--black);
    color: var(--black);
    opacity: 0.7;

    &:hover {
      transform: scale(1.05);
      opacity: 1;
      fill: var(--yellow-200);
    }
  }

  &__label-box {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    top: 11px;
    margin: 0 2px;

    > input {
      display: none;
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  bottom: 3px;
  left: 2px;
  background-color:var(--black);
  transition: .1s;
}

input:checked + .slider {
  background-color: var(--white);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}
