<div class="switcher">
  <ng-container *ngIf="isLightTheme; else lightThemeTemplate">
    <svg class="switcher__icon" (click)="changeThemeHandler('dark')">
      <use xlink:href="assets/sprite_24.svg#icon-moon"></use>
    </svg>
  </ng-container>
  <!-- <label class="switcher__label-box">
    <input
      type="checkbox"
      [checked]="themeService.isLightTheme"
      (change)="onCheckboxChange($event)"
    />
    <span class="slider round"></span>
  </label> -->

  <ng-template #lightThemeTemplate>
    <svg class="switcher__icon" (click)="changeThemeHandler('light')">
      <use xlink:href="assets/sprite_24.svg#icon-sun"></use>
    </svg>
  </ng-template>
</div>
