@import "../../styles/mixins.scss";

.icon {
  width: 3.5rem;
  height: 3.5rem;
  padding: 1rem;
  margin-right: 1rem;
  fill: var(--white);
  display: inline-block;
  color: var(--white);
  @include border-radius(3px);
  background: var(--sidebar-surface-2);
  text-align: center;
  font-size: 20px;
  position: relative;
}

.container {
  background: var(--white);
  max-height: 100%;
  padding: 4rem;

  &__section {
    margin-bottom: 6rem;

    > h2 {
      text-transform: uppercase;
      font-size: 2rem;
      font-weight: 500;
      color: var(--grey-dark-color-1);
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &--summary {
      > p {
        margin: 1rem 0 1rem 0;
        font-size: 1.5rem;
        line-height: 2.5rem;
        color: var(--grey-dark-color-1);
      }

      > p.color-blod {
        color: var(--grey-dark-color-1);
        font-weight: 500;
      }
    }

    &--item {
      margin-bottom: 3rem;

      &_first-row {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: 345px) {
          flex-direction: column;
        }

        > h2 {
          color: var(--grey-dark-color-1);
          font-size: 1.6rem;
          margin-top: 0;
          margin-bottom: 0;
          font-weight: 500;
        }

        > h3 {
          color: var(--grey-color-4);
          font-size: 1.2rem;
          font-weight: 300;

          &.stack {
            @media only screen and (max-width: 255px) {
             display: none
            }
          }
        }

        > a {
          color: var(--accent-color);
          text-decoration: none;
          font-size: 1.8rem;
          font-weight: 5300;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &_second-row {
        display: flex;
        align-items: flex-start;

        color: var(--grey-color-4);
        font-size: 1.2rem;
        font-weight: 300;

        @media only screen and (max-width: 255px) {
          margin-top: 1rem;
          align-items: center;
         }

        > img {
          border-radius: 5px;
          transition: all 0.4s ease-in-out;

          @media only screen and (max-width: 255px) {
            height: 150px;
            width: 200px;
          }
        }
      }

      &_third-row {
        margin-top: 1rem;

        > p {
          margin-left: 1rem;
          color: var(--grey-dark-color-1);
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
    }
  }
}

