<div class="container">
  <section class="container__section">
    <h2>
      <svg class="icon">
        <use xlink:href="assets/sprite_32.svg#icon-pencil"></use></svg
      >Perfil
    </h2>
    <div class="container__section--summary">
      <p class="color-blod">
        Formado em Engenharia Agrícola pela Universidade Estadual de Campinas
        (Unicamp), com mestrado em Modelagem Estrutural de Vigas de Madeira
        Laminada Colada Armada (MLCA).
      </p>
      <p>
        O primeiro contato com programação veio em 2015, com a linguagem Python.
      </p>
      <p>
        Já em 2020 iniciando a carreira na área de programação, foram
        desenvolvidas diversas rotinas de automatização para equipes, com foco
        em otimização de tempo e redução de mão de obra para envio de e-mails,
        tratamento de dados e RPAs.
      </p>
      <p>
        Durante esta experiência como trainee iniciei uma especialização no
        desenvolvimento web, com foco no frontEnd.
      </p>
      <p>
        Atualmente sigo me especializando no desenvolvimento Web com foco em
        Spring Boot, Quarkus e NextJs.
      </p>
    </div>
  </section>

  <section class="container__section">
    <h2>
      <svg class="icon">
        <use xlink:href="assets/sprite_32.svg#icon-pencil"></use></svg
      >Experiências
    </h2>

    <div
      class="container__section--item"
      *ngFor="let experience of experiences"
    >
      <div class="container__section--item_first-row">
        <h2>{{ experience.title }}</h2>
        <h3>
          {{ experience.date.month }} {{ experience.date.year }} -
          {{ experience.toDate }}
        </h3>
      </div>

      <div class="container__section--item_second-row">
        {{ experience.company }}
      </div>

      <div class="container__section--item_third-row">
        <p>{{ experience.description }}</p>
      </div>
    </div>
  </section>

  <section class="container__section">
    <h2>
      <svg class="icon">
        <use xlink:href="assets/sprite_32.svg#icon-pencil"></use></svg
      >Artigos
    </h2>

    <div class="container__section--item" *ngFor="let article of articles">
      <div class="container__section--item_first-row">
        <a [href]="article.link" target="_blank">
          <span class="short_url">{{ article.title }}</span>
        </a>

        <h3 class="stack">{{ article.stack }}</h3>
      </div>

      <div class="container__section--item_second-row">
        <img
          height="200px"
          width="250px"
          [src]="article.imageLink"
          alt="Logo artigo"
        />
      </div>
    </div>
  </section>
</div>
