<div class="container">
  <div class="container__switch">
    <app-switch />
  </div>
  <div class="container__header">
    <img src="assets/photo.png" alt="Lucas Peixoto" />
    <h1>{{ myName }}</h1>
    <h3>{{ myJob }}</h3>
  </div>

  <div class="container__contacts">
    <ul>
      <li>
        <svg class="icon">
          <use
            xlink:href="assets/sprite_32.svg#icon-mail-envelope-closed"
          ></use>
        </svg>
        <a href="mailto:{{ contactDetails.email }}">{{
          contactDetails.email
        }}</a>
      </li>
      <li class="phone">
        <svg class="icon">
          <use xlink:href="assets/sprite_32.svg#icon-mobile"></use>
        </svg>
        <a href="tel:{{ contactDetails.phone }}">{{ contactDetails.phone }}</a>
      </li>
      <li class="linkedin">
        <svg class="icon">
          <use xlink:href="assets/sprite_32.svg#icon-linkedin"></use>
        </svg>
        <a href="{{ contactDetails.linkedin }}" target="_blank">Linkedin</a>
      </li>
      <li class="github">
        <svg class="icon">
          <use xlink:href="assets/sprite_32.svg#icon-github"></use>
        </svg>
        <a href="{{ contactDetails.github }}" target="_blank">Github</a>
      </li>
      <li class="facebook">
        <svg class="icon">
          <use xlink:href="assets/sprite_32.svg#icon-facebook2"></use>
        </svg>
        <a href="{{ contactDetails.facebook }}" target="_blank">Facebook</a>
      </li>
      <li class="instagram">
        <svg class="icon">
          <use xlink:href="assets/sprite_32.svg#icon-instagram"></use>
        </svg>
        <a href="{{ contactDetails.instagram }}" target="_blank">Instagram</a>
      </li>
      <li class="medium">
        <svg class="icon">
          <use xlink:href="assets/sprite_32.svg#icon-flickr2"></use>
        </svg>
        <a href="{{ contactDetails.medium }}" target="_blank">Medium</a>
      </li>
    </ul>
  </div>

  <div class="container__education">
    <h2>Educação</h2>
    <div class="container__education--item">
      <h4>Mestrado Engenharia Agrícola</h4>
      <h5>Universidade Estadual de Campinas (Unicamp)</h5>
      <h6>2018 - 2020</h6>
    </div>
    <div class="container__education--item">
      <h4>Graduação Engenharia Agrícola</h4>
      <h5>Universidade Estadual de Campinas (Unicamp)</h5>
      <h6>2012 - 2017</h6>
    </div>
  </div>

  <div class="container__languages">
    <h2>Idiomas</h2>
    <ul>
      <li>Português <span>(Nativo)</span></li>
      <li>Inglês <span>(Avançado)</span></li>
    </ul>
  </div>

  <div class="container__skills">
    <h2>Competências Técnicas</h2>
    <ul>
      <li>Frontend</li>
      <li>HTML, CSS (LESS, SCSS )</li>
      <li>Javascript/Typescript</li>
      <li>Java</li>
      <li>Python</li>
      <li>Angular</li>
      <li>React</li>
      <li>NextJs</li>
    </ul>
  </div>
</div>
