@import "../../styles/mixins.scss";

.icon {
  height: 2rem;
  width: 2rem;
  fill: var(--white);
}

.container {
  background: var(--sidebar-surface-1);
  height: 100%;
  min-width: 30rem;
  color: var(--white);

  &__switch {
    background: var(--sidebar-surface-2);
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 0.5rem;
  }

  &__header {
    padding: 1rem;
    background: var(--sidebar-surface-2);
    text-align: center;
    color: var(--white);

    > img {
      margin: 0px auto 1.5rem auto;
      width: 16.8rem;
      height: 16.8rem;
      display: block;
      @include border-radius(100%);
      box-shadow: var(--shadow-dark);
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
    }

    > h1 {
      font-size: 2.8rem;
      font-weight: 900;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }

    > h3 {
      color: var(--grey-light-color-4);
      font-size: 1.6rem;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__contacts {
    > ul {
      padding: 2rem 5rem;
      > li {
        display: flex;
        align-items: center;
        gap: 1rem;
        list-style: circle;
        font-size: 1.5rem;
        list-style: 0.8rem;
        margin-bottom: 0.8rem;

        > a {
          color: var(--white);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__education,
  &__languages,
  &__skills {
    padding: 2rem;

    > h2 {
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 1.5rem;
    }

    &--item {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      > h4 {
        font-size: 1.4rem;
        line-height: 1.4rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
      }

      > h5 {
        color: var(--grey-light-color-4);
        font-weight: 500;
        margin-bottom: 0px;
        margin-top: 0;
        font-size: 1.4rem;
      }

      > h6 {
        font-size: 1.4rem;
        color: var(--grey-light-color-4);
        font-weight: 500;
        margin-bottom: 0px;
      }
    }
  }

  &__languages,
  &__skills {
    > ul {
      padding: 0rem 3rem;

      > li {
        font-size: 1.5rem;
        list-style: 0.8rem;
        margin-bottom: 1.5rem;

        > a {
          color: var(--white);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
